/* element selector */
h1 {
    color: green;
}

/* id selector */
#last-updated {
    color: gray;
}

/* class selectors */
.highlight {
    background-color: yellow;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

/* note: last applied style will have the high priority */
/* combined selectors */
h1, h2, h3 {
    color: green;
}

/* attribute selectors */
a[href="https://www.guvi.in/blog/category/mern"] {
    color: darkgray;
}

/* descendant selectors */
/* ol li {
    color: blue;
} */

/* child selectors */
/* ol>li {
    color: blue;
} */

#ordered-list>li {
    color: blue;
}

/* sibling selectors */
/* adjacent sibling selector */
/* h2 + p {
    color: red;
} */

/* general sibling selector */
h2 ~ p {
    color: red;
}