.hero-header {
    position: fixed;
    /* opacity: 0.1; */
    width: 50px;
    right: 10px;
    top: 10px;
}

.header {
    border: 1px solid gray;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0px;
    height: 27.5px;
}

.header ~ h3{
    border: 1px solid gray;
    background-color: aqua;
    padding: 10px;
}

.first {
    position: sticky;
    top: 49.5px;
}

.second {
    position: sticky;
    top: 93px;
}

.third {
    position: sticky;
    top: 136.5px;
}

.four {
    position: sticky;
    top: 180px;
}

.five {
    position: sticky;
    top: 223.5px;
}

.six {
    position: sticky;
    top: 267px;
}